<!DOCTYPE html>
<html>
    <head>
        <title>Principia - </title>
        <link rel="icon" type="image/png" href="http://puu.sh/fWjsh/60319965f4.png">
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href="/stylesheets/bootstrap.css">
    </head>
    <body>
        <div class = "container-fluid">
<<<<<<< HEAD
            <nav class = "navbar navbar-fixed-top" style="background-color:#f1c40f">
                <div>
                    <ul class = "nav navbar-nav" style="font-weight:bold;font-color:#00f">
                        <li><a href = "/">Home</a></li>
                        <li><a href = "/sessions/welcome">Start</a></li>
                        <% if (!loggedIn) { %>
                            <li><a href = "/sessions/login">Login</a></li>
                            <li><a href = "/sessions/signup">Sign Up</a></li>
                        <% } else { %>
                            <li><a href = "/sessions/logout">Log Out</a></li>
                            <li><a href = "/profile"><b><%=user.firstname%></b></a></li>
                            <li><a href = "/formula/make"><b>Make Formula</b></a></li>
                        <% } %>
                        <li><a href = "/formula/">All Formulas</a></li>
                    </ul>
=======
        <nav class = "navbar navbar-fixed-top" style="background-color:#f1c40f">
            <div>
                <ul class = "nav navbar-nav" style="font-weight:bold;font-color:#00f">
                    <li><a href = "/">Home</a></li>
                    <li><a href = "/sessions/welcome">Start</a></li>
                    <% if (!loggedIn) { %>
                        <li><a href = "/sessions/login">Login</a></li>
                        <li><a href = "/sessions/signup">Sign Up</a></li>
                    <% } else { %>
                        <li><a href = "/sessions/logout">Log Out</a></li>
                        <li><a href = "/profile"><b><%=user.firstname%></b></a></li>
                    <% } %>
                    <li><a href = "/formula/">All Formulas</a></li>
                </ul>
>>>>>>> cd3867100a3c8a389158cbc62b1a5550e828d43e
                </div>
            </nav>
            <br>
            <br>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    <div class = "page-header"><h1><%= user.firstname %> <%= user.lastname %></h1></div>
                </div>
                <div class = "col-md-2"></div>
            </div>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    <p>
                        <b>Email: </b><%= user.email %>
                    </p>
                    <div class="page-header"><h3>My Formulas</h3></div>
                    <br>
                    <% for (var i = 0; i < user.addedFormulas.length; i++) { %>
                        <a href="/formula/display/<%= user.addedFormulas[i].id %>"><%= user.addedFormulas[i].title %></a>
                        <br>
                        <br>
                    <% } %>
                </div>
                <div class = "col-md-2"></div>
            </div>
        </div>
    </body>
</html>