<!DOCTYPE html>
<html>
    <head>
        <title>Principia | Profile</title>
        <link rel="icon" type="image/png" href="http://puu.sh/fWjsh/60319965f4.png">
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href="/stylesheets/bootstrap.css">
    </head>
    <body>
        <div class="container-fluid">
            <% include ../partials/navbar %>
            <br>
            <br>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    <div class = "page-header"><h1><%= user.firstname %> <%= user.lastname %></h1></div>
                </div>
                <div class = "col-md-2"></div>
            </div>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    <p>
                        <b>Email: </b><%= user.email %>
                    </p>
                    <div class="page-header"><h3>My Formulas</h3></div>
                    <br>
                    <% for (var i = 0; i < user.addedFormulas.length; i++) { %>
                        <a href="/formula/display/<%= user.addedFormulas[i].id %>"><%= user.addedFormulas[i].title %></a>
                        <br>
                        <br>
                    <% } %>
                </div>
                <div class = "col-md-2"></div>
            </div>
        </div>
    </body>
</html>