<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/main.css">
	</head>
    <body style = "background-color:#42647f">
		<div class="container-fluid">
			<nav class = "navbar navbar-fixed-top" style = "background-color:#f1c40f">
				<div>
					<ul class = "nav navbar-nav" style="font-weight:bold;font-color:#00f">
						<li><a href = "/">Home</a></li>
						<li><a href = "/sessions/welcome">Start</a></li>
						<% if (!loggedIn) { %>
                            <li><a href = "/sessions/login">Login</a></li>
                            <li><a href = "/sessions/signup">Sign Up</a></li>
                        <% } else { %>
                            <li><a href = "/sessions/logout">Log Out</a></li>
                            <li><a href = "/sessions/profile"><b><%=user.firstname%></b></a></li>                        <% } %>
					</ul>
				</div>
			</nav>
			<div id = "welcome-info" style="margin-top:6em"></div>
			<div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8" style = "background-color:#F4FFE9;border-radius:4px;border-style:solid;border-color:#34495e;border-width:9px;">
                    <div class = "page-header">
                        <h1>Welcome</h1>
                    </div>
                    <p>We would like to welcome you, <b><%= user.firstname %></b> to our website. Feel free to browse our extensive collection of articles, formulas, and study guides.</p>
                    <br>
                    <div class = "row" >
                        <div class = "col-md-12">
                    <% for (var i = 0; i < categories.length; i++) { %>
                        <div class="col-md-6" style = "">
                            <div class = "page-header" style="text-align:center"><h2><%= categories[i].name %></h2></div>
                            <% for (var j = 0; j < categories[i].subjects.length; j++) { %>
                                    <a class= "esp" href="/formula/subject/<%= categories[i].subjects[j].name %>"><%= categories[i].subjects[j].name %></a>
                            <% } %>
                            <br><br>
                        </div>
                    <% } %>
                    <br>
                    <br>
                </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <br>
            <br>
		</div>
    </body>
</html>
